[MariaDB]
connection_uri = mysql+pymysql://
ip_address = 10.1.61.51
db_name = wisefn
user = mining
password = mining@2017
chunksize = 5000


[ClickHouse]
host= localhost
database= wisefn
user= default
password=
chunksize = 10000

[Path]
base_path = /home/mining/systemtrading/WiseFN_Down_DATA
txt_path = %(base_path)s/01TXT_file
by_company_cmp_fin_path = %(base_path)s/DATA/01BY_COMPANY/01CMP/01FIN
by_company_cmp_fin_all_path = %(base_path)s/DATA2/01BY_COMPANY/01CMP/01FIN
by_item_cmp_fin_path = %(base_path)s/DATA/02BY_ITEM/01ITEM
by_sector_sec_fin_path = %(base_path)s/DATA/01BY_COMPANY/02SEC/01FIN
by_sector_sec_fin_all_path = %(base_path)s/DATA2/01BY_COMPANY/02SEC/01FIN
by_item_sec_fin_path = %(base_path)s/DATA/02BY_ITEM/02SECITEM
by_company_cmp_cns_path = %(base_path)s/DATA/01BY_COMPANY/01CMP/02CNS
by_item_cmp_cns_path = %(base_path)s/DATA/02BY_ITEM/03CNSITEM
by_sector_sec_cns_path = %(base_path)s/DATA/01BY_COMPANY/02SEC/02CNS
by_item_sec_cns_path = %(base_path)s/DATA/02BY_ITEM/04CNSSECITEM
excel_file = /home/mining/systemtrading/WiseFN_Down_DATA/DBSpec_DaumSoft_20210407.xlsx

[Logging]
format = %%(asctime)-15s %%(filename)s %%(lineno)d %%(levelname)s - %%(message)s
path = /home/mining/systemtrading/log
file_name = wisefn_data_processing.log
level = logging.INFO
handler = RotatingFileHandler('%(path)s/%(file_name)s', maxBytes=10**7, backupCount=5)